/* reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../img/fundo.jpg");
  background-size: auto 100vh;
  font-family: arial;
  height: 100vh;
  font-size: 12px;
}

/* se a tela tiver pelo menos 400px vai carregar estilos estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

header {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: black;
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
}

a {
  color: white;
  text-decoration: none; 
}

a:hover {
  text-decoration: underline;
}

.site-title, .site-subtitle {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  color: black;
  font-size: 4em;
}

.site-subtitle {
  text-shadow: 2px 4px 7px black;
  font-style: italic; 
}

.img-portfolio {
  height: 180px;
  width: 180px;
  border: 7px solid black;
}