/* reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../img/fundo.jpg");
  background-size: auto 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  height: 100vh;
  font-size: 12px;
}

/* se a tela tiver pelo menos 400px vai carregar estilos estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: black;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
  border-bottom: 0.1em solid white;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color 1s, color 2s;
}


.menu a:hover, .menu a:active {
  background-color: white;
  color: black;
}

a {
  color: white;
  text-decoration: none; 
}

/*
a:hover {
  text-shadow: 2px 4px 10px black;
} */

.site-title, .site-subtitle {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  color: black;
  font-size: 6em;
  text-shadow: 2px 4px 7px white;
  font-family: 'Londrina Shadow', cursive;
}

.site-subtitle {
  text-shadow: 2px 4px 7px black;
  font-size: 2em;
  font-style: italic;
  font-family: 'Archivo Black', sans-serif;
}

.sobre {
  padding: 2em;
  min-height: 100vh;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.sobre h2 {
  color: black;
  font-size: 2em;
  text-transform: uppercase;
  font-family: 'Archivo Black', sans-serif;
  margin-bottom: 2em;
  text-align: center;
  text-shadow: 2px 4px 7px white;
}

.sobre .avatar {
  margin-bottom: 1em;
}

.sobre .avatar img {
  width: 327px;
  height: 303px;
  border-radius: 5%;
}

@media (min-width: 560px) {
  .sobre .avatar {
  float: left;
  margin-right: 1em;
}
  .sobre .avatar img {
  width: 400px;
  height: 400px;
}
}

.sobre p {
  text-indent: 1.4em;
  margin-bottom: 1.4em;
  text-align: justify;
  font-size: 1.2em;
}

.portfolio {
  padding: 2em;
  background-color: black;
  background-size: 100vw 100vh;
  border: 0.5em solid white;
}

.portfolio h2 {
  color: white;
  font-size: 2em;
  text-transform: uppercase;
  font-family: 'Archivo Black', sans-serif;
  margin-bottom: 2em;
  text-align: center;
}

.portfolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
  .portfolio .grid {
  grid-template-columns: 240px 240px;
  align-content: center;
  justify-content: center;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
  grid-template-columns: 300px 300px 300px;
  align-content: center;
  justify-content: center;
  }
}

/* Feito na aula

@media (min-width: 880px) {
  .portfolio .grid {
  grid-template-columns: repeat(3, 240px);
  justify-content: center;
}

*/

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 100%;
  object-fit: cover;
  border: 7px solid white;
}

/*.img-portfolio:hover {
  transform: scale(1.2);
} */


@media (min-width: 880px) {
  .flip-card, .img-portfolio {
  height: 210px;
  width: 100%;
  object-fit: cover;
}
}


.portfolio .grid figcaption {
  color: white;
}

@media (min-width: 880px) {
  .flip-card {
    perspective: 500px;
  }

  .card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2s;
    padding-bottom: 5em;
  }

  .flip-card:hover .card {
    transform: rotateY(180deg);
  }

  .card-front, .card-back {
    position: absolute;
    backface-visibility: hidden;
    left: 0;
    top: 0;
  }

  .card-back {
    background-color: white;
    height: 210px;
    width: 100%;
    transform: rotateY(180deg);
    
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid orange;
  }
}

.contato {
  padding: 2em;
  background-size: 100vw 100vh;
}

.contato .icons {
  text-align: center;
}

.contato h2 {
  color: black;
  font-size: 2em;
  text-transform: uppercase;
  font-family: 'Archivo Black', sans-serif;
  margin-bottom: 2em;
  text-align: center;
  text-shadow: 2px 4px 7px white;
}

.contato a {
  color: black;
  font-size: 5em;
  transition: text-shadow 1s, color 1s;
}

.contato a:hover, .contato a:active {
  color: white;
  text-shadow: 0px 0px 10px rgba(0,0,0,1);
}

.footer {
  background-color: black;
  background-size: 100vw;
}

.footer p {
  color: white;
  text-align: center;
  font-weight: italic;
}